@font-face {
  font-family: "Cola Manrope";
  src: url("/fonts/manrope.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cola Inter";
  src: url("/fonts/inter.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cola Roboto";
  src: url("/fonts/roboto.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cola Open Sans";
  src: url("/fonts/opensans.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cola Source Sans 3";
  src: url("/fonts/sourcesans3.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cola Noto Sans";
  src: url("/fonts/notosans.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cola Montserrat";
  src: url("/fonts/montserrat.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cola Rubik";
  src: url("/fonts/rubik.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cola Onest";
  src: url("/fonts/onest.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cola Golos Text";
  src: url("/fonts/golostext.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
