**
!Dockerfile
!.dockerignore
!package.json
!package-lock.json
!tsconfig.json
!src/
!src/**
!migrations/
!migrations/*.sql
!scripts/
!scripts/build-version.js
**/node_modules/
**/.cache/
**/*.log
**/*.tsbuildinfo
**/.DS_Store
